@model MDR.Web.UI.Models.CreateDamageReportItemViewModel

<div class="panel panel-primary">
    <div class="panel-heading margin-bottom-15">
        <h3 class="panel-title">Damage Item</h3>
    </div>
    <div class="form-group padding-sides-15">
        @Html.LabelFor(m => m.DamageArea, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.DamageArea, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.DamageArea, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group padding-sides-15">
        @Html.LabelFor(m => m.DamageSeverity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.DamageSeverity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.DamageSeverity, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group padding-sides-15">
        @Html.LabelFor(m => m.DamageEstimatedCost, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(m => m.DamageEstimatedCost, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(m => m.DamageEstimatedCost, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 text-right">
            <button type="button" class="btn btn-default margin-right-15">
                Add&nbsp;
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>
    </div>
</div>
